$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

.wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0px auto;
    padding: 16px 0px 20px;

    @media screen and (min-width:$tablet) {
        padding: 20px 0px 46px;
    }

    @media screen and (min-width:$desktop) {
        padding: 20px 0px 30px;
    }
}


.mainNav {
    gap: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btnBurger {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}


.btns {
    display: contents;

    // @media screen and(min-width:$tablet) {}
}

.open {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: #fdf7f2;
    z-index: 99;
    transform: translateX(0%);
    transition: 0.3s all ease-in-out;

    @media screen and (min-width:$tablet) {
        margin-top: 40px;
    }
}

.closed {
    @extend .open;
    transform: translateX(100%);
}

.logoLink {
    @media screen and (min-width:$tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logoBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}